#dashboard {
	font-family: "Poppins", sans-serif;
}

#dblogo {
	font-size: 1.7rem;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}

#dashboard .dropdown-item {
	font-weight: 300;
}

body {
	font-family: "Open Sans", sans-serif;
}

#dashboard .inside {
	right: 0;
	left: auto;
}

#dashboard .dropdown-item.active,
#dashboard .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: rgba(32, 35, 42, 0.88);
}
