input[type="text"],
input[type="password"] {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
	box-shadow: 0 3px 1px -2px aliceblue;
}
